<h1>All Transactions</h1>

<link href="/styles/index.css" rel="stylesheet" type="text/css">

<% @transactions.each do |transaction| %>
  <p> Value: £<%= transaction.value %> </p>
  <a href="/transactions/total_by_tag/<%= transaction.tag.id %>"><%= transaction.tag.name %></a>
  <p> Type: <%= transaction.tag.name %> </p>
  <p> Merchant: <%= transaction.merchant.merchant_name %></p>
  <form method = "post" action = "/transactions/<%= transaction.id %>" >
    <input type ="hidden" name="_method" value="delete"/>
    <button type="delete">Delete</button></form>
<% end %>


<div>
   <a class="button big-button" href="/">Home</a>
</div>
