<h1>All Transactions</h1>
<table class="transactions">
  <tr>
    <th>Value</th>
    <th>Type</th>
    <th>Merchant</th>
    <th>Delete</th>
  </tr>

  <% @transactions.each do |transaction| %>
  <tr>
    <td>£<%= transaction.value %></td>
    <td>
      <a href="/transactions/total_by_tag/<%= transaction.tag.id %>" style="text-decoration:none">
        <%= transaction.tag.name %>
      </a>
    </td>
    <td><%= transaction.merchant.merchant_name %></td>
    <td>
      <form method = "post" action = "/transactions/<%= transaction.id %>" >
        <input type ="hidden" name="_method" value="delete"/>
        <button class="button1" type="delete">Delete</button>
      </form>
    </td>
  </tr>

  <% end %>

</table>

<div class="p1_image">
  <img src="/images/p6.jpeg" alt="Image of piggy bank">
</div>
